<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78708088802-aadmmgj7qeomo65rtor9hp58is97t7cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78708088802-aadmmgj7qeomo65rtor9hp58is97t7cb</string>
	<key>API_KEY</key>
	<string>AIzaSyC6mDJaxO_jZUfMTn143pHzOuwSyT9PyyI</string>
	<key>GCM_SENDER_ID</key>
	<string>78708088802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramMmvmDpClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-5d717</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-5d717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78708088802:ios:434934b34fd5d76e9523bb</string>
</dict>
</plist>